%p
  %div#tabs
    %ul
      - counter = 1
      - @participants_hash.each do |key, participants|
        %li= link_to t(key), "#tabs-" + counter.to_s
        - counter += 1
    %p
      = "Wird wieder aktualisiert in: #{120 -(Time.now - @cache_time).to_i} Sekunden"

    - counter = 1
    - @participants_hash.each do |key, participants|
      %div{:id => "tabs-" + counter.to_s}
        %table.table-striped.table-hove.tablesorter{:id => key}
          = render :partial => 'participants', :locals => {:participants => participants}
        %span{:id => "tab#{counter.to_s}"}
      - counter = counter + 1

:javascript
  $(document).ready(function() {
    //later on you can get that data EVEN AFTER a reload
    var params = getUrlVars()
    if (params["beamer_modus"] == "true") {
      start_beamer_modus();
    }
    #{some_helper_function(@participants_hash)}


  });
