%div#tabs
  - form_for :participant do |form|
    %ul
      - if !@participant.power
        %li= link_to  "gelb", "#tabs-1"
        %li= link_to  "blau", "#tabs-2"
        %li= link_to  "hell-grün", "#tabs-3"
        %li= link_to  "dunkel-grün", "#tabs-4"
      - else
        %li= link_to  "dunkel-grün", "#tabs-1"
        %li= link_to  "rot", "#tabs-2"
        %li= link_to  "grau", "#tabs-3"

    - if !@participant.power
      %div#tabs-1
        - @boulders.yellow.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-2
        - @boulders.blue.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-3
        - @boulders.lightgreen.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-4
        - @boulders.darkgreen.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
    - else
      %div#tabs-1
        - @boulders.darkgreen.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-2
        - @boulders.red.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-3
        - @boulders.grey.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
    = form.submit "Begehungen abschicken"
    = hidden_field :participant, :uid
