%div#tabs
  = form_for :participant do |form|
    %ul
      - if !@participant.power
        %li= link_to  "weiß/gelb", "#tabs-1"
        %li= link_to  "blau/orange", "#tabs-2"
        %li= link_to  "grün", "#tabs-3"
        %li= link_to  "rot", "#tabs-4"
        %li= link_to  "grau", "#tabs-5"
      - else
        %li= link_to  "dunkel-grün", "#tabs-1"
        %li= link_to  "rot", "#tabs-2"
        %li= link_to  "grau", "#tabs-3"

    - if !@participant.power
      %div#tabs-1
        - @boulders.whiteyellow.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-2
        - @boulders.blueorange.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-3
        - @boulders.green.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-4
        - @boulders.red.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-5
        - @boulders.grey.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
    - else
      %div#tabs-1
        - @boulders.darkgreen.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-2
        - @boulders.red.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
      %div#tabs-3
        - @boulders.grey.sort_by{|b| b.id}.each do |boulder|
          - boulder_tag(@participant, boulder)
    = form.submit "Begehungen abschicken"
    = hidden_field :participant, :uid
