- content_for :content do
  %div.hero-unit
    = form_for :participant, :url => {:action => :insert}, :html => {:id => "tool-form"}, :remote => true do |f|
      = f.text_field :uid
      = f.submit :abschicken, {:class => :btn}
      %span#loading
        = image_tag("loading.gif", :size => "16x16" )
  %div.row
    %div.span6#left
      %ul#leftmenu
        - if current_user
          %h2 Edit
          %ul#leftmenu
            %li= link_to :index, :participants
    %div.span6
      = yield
  -#%div#fixedbg
  -#%div#left
  -#  - if current_user
  -#    %h2 Edit
  -#    %ul#leftmenu
  -#      %li= link_to :index, :participants
  -#%div#right
  -#  = yield

= render :file => 'layouts/application'
