- content_for :content do
  %div.hero-unit
    = form_for :participant, :url => {:action => :insert}, :html => {:id => "tool-form"}, :remote => true do |f|
      = f.text_field :uid
      = f.submit :abschicken, {:class => :btn}
      %span#loading
        = image_tag("loading.gif", :size => "16x16" )
  %div.row
    %div.span6#left
      %ul#leftmenu
        - if current_user
          %h2 Edit
          %ul#leftmenu
            %li= link_to :index, :participants
            %li= link_to "CSV Upload", participants_upload_path
            %li= link_to "clear all", participants_clear_path,
                                      :method => :delete,
                                      :confirm => "Wirklich alle Begehungen und Benutzer löschen?"
    %div.span6#right
      = yield

= render :file => 'layouts/application'
